Repository GRCHive/grchive: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build CI Image, Build NGINX Container, Build Vault Container, Build RabbitMQ Container

.gitlab-ci.yml:

stages:
    - ciImage
    - compile
    - test
    - containers

cache:
    key: "${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHA}"
    paths:
        - .cache/
        - src/core/jsui/node_modules/
        - dependencies/bazel/

services:
    - docker:19.03.1-dind

variables:
    # Use TLS https://docs.gitlab.com/ee/ci/docker/using_docker_build.html#tls-enabled
    DOCKER_HOST: tcp://docker:2376
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
    CI_FULL_REGISTRY: $CI_REGISTRY/grchive/grchive

before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_ACCESS_KEY $CI_REGISTRY
    - echo "build --disk_cache=$CI_PROJECT_DIR/.cache" >> .bazelrc
    - cd dependencies
    - "[ ! -d bazel ] && apt-get update && apt-get install -y curl unzip openjdk-11-jdk && bash bootstrap_bazel.sh"
    - cd ../
    - export PATH=$PWD/dependencies/bazel/output:$PATH
    - envsubst < build/variables.bzl.prod.tmpl > build/variables.bzl

Build CI Image:
    stage: ciImage
    image: docker:stable
    variables:
        FULL_IMAGE_URL: $CI_FULL_REGISTRY/ci-image
    before_script:
        - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_ACCESS_KEY $CI_REGISTRY
    script:
        - cd devops/docker/ciImage
        - docker build --tag $FULL_IMAGE_URL:latest .
        - docker push $FULL_IMAGE_URL:latest
    cache: {}
    only:
        refs:
            - master
        changes:
            - devops/docker/ciImage/**/*

Compile Web Server:
    stage: compile
    image: $CI_FULL_REGISTRY/ci-image:latest
    script:
        - bazel build //src/webserver:webserver

Compile Preview Generator:
    stage: compile
    image: $CI_FULL_REGISTRY/ci-image:latest
    script:
        - bazel build //src/preview_generator:frontend

Run All Tests:
    stage: test
    image: $CI_FULL_REGISTRY/ci-image:latest
    script:
        - bazel test --test_output=errors //test/...

Build NGINX Container:
    stage: containers
    image: $CI_FULL_REGISTRY/ci-image:latest
    variables:
        FULL_IMAGE_URL: $CI_FULL_REGISTRY/nginx
    script:
        - bazel run /devops/docker/nginx:nginx 
        - docker tag bazel/devops/docker/nginx:nginx $FULL_IMAGE_URL:$CI_COMMIT_SHA
        - docker push $FULL_IMAGE_URL:$CI_COMMIT_SHA
    only:
        refs:
            - master
        changes:
            - devops/docker/nginx/**/*

Build Vault Container:
    stage: containers
    image: $CI_FULL_REGISTRY/ci-image:latest
    variables:
        FULL_IMAGE_URL: $CI_FULL_REGISTRY/vault
    script:
        - bazel run /devops/docker/vault:vault 
        - docker tag bazel/devops/docker/vault:vault $FULL_IMAGE_URL:$CI_COMMIT_SHA
        - docker push $FULL_IMAGE_URL:$CI_COMMIT_SHA
    only:
        refs:
            - master
        changes:
            - devops/docker/vault/**/*

Build RabbitMQ Container:
    stage: containers
    image: $CI_FULL_REGISTRY/ci-image:latest
    variables:
        FULL_IMAGE_URL: $CI_FULL_REGISTRY/rabbitmq
    script:
        - bazel run /devops/docker/rabbitmq:rabbitmq 
        - docker tag bazel/devops/docker/rabbitmq:rabbitmq $FULL_IMAGE_URL:$CI_COMMIT_SHA
        - docker push $FULL_IMAGE_URL:$CI_COMMIT_SHA
    only:
        refs:
            - master
        changes:
            - devops/docker/rabbitmq/**/*

hopefully enable tls docker stuff
  .gitlab-ci.yml
  devops/docker/ciImage/Dockerfile
Due: Build CI Image

package for envsubst
  devops/docker/ciImage/Dockerfile
Due: Build CI Image

also try installing jdk8?
  devops/docker/ciImage/Dockerfile
Due: Build CI Image

nested vars not supported
  .gitlab-ci.yml
Due: none

force rebuild of ci image
  devops/docker/ciImage/Dockerfile
Due: Build CI Image

open jdk8 is not a thing...
  .gitlab-ci.yml
  devops/docker/ciImage/Dockerfile
Due: Build CI Image

copy more stuff from the docker dockerfile
  .gitlab-ci.yml
  devops/docker/ciImage/Dockerfile
  devops/docker/ciImage/docker-entrypoint.sh
Due: Build CI Image

setup bazel in dockerfile, install python2
  .gitlab-ci.yml
  devops/docker/ciImage/Dockerfile
Due: Build CI Image

maybe maybbe?
  devops/docker/ciImage/Dockerfile
Due: Build CI Image

sucessfully install bazel for ci image
  devops/docker/ciImage/Dockerfile
Due: Build CI Image

libffi + python on CI
  .gitlab-ci.yml
  devops/docker/ciImage/Dockerfile
Due: Build CI Image

successfully compile python on CI image
  .gitlab-ci.yml
  devops/docker/ciImage/Dockerfile
Due: Build CI Image

don't rely on local system npx
  src/core/jsui/BUILD.bazel
  src/core/jsui/package-lock.json
  src/core/jsui/package.json
Due: none

create gcloud service account key
  .gitlab-ci.yml
Due: none

be explicit about node binary as well
  src/core/jsui/BUILD.bazel
Due: none

fix webserver container
  .gitlab-ci.yml
Due: none

maybe fix docker issues in CI
  .gitlab-ci.yml
Due: none

more fixes? hopefully
  .gitlab-ci.yml
Due: none

don't use the sketchy bazel run and do tars
  .gitlab-ci.yml
Due: none

fix for bazel version
  .bazelrc
Due: none

webserver node pool
  .gitlab-ci.yml
  devops/terraform/prod/modules/webserver/main.tf
Due: none

use commit sha in cache key
  .gitlab-ci.yml
Due: none

gcloud sdk dependency
  dependencies/.gitignore
  dependencies/download_google_cloud_sdk.sh
Due: none

gcloud sdk in ci image
  devops/docker/ciImage/Dockerfile
Due: Build CI Image

smaller preview generator base (hopefully)
  devops/docker/ciImage/create_ciimage.sh
  devops/docker/preview_generator/Dockerfile
Due: Build CI Image

start using terraform to create db/buckets
  .gitlab-ci.yml
  devops/k8s/vault/.gitignore
  devops/k8s/vault/deployment.prod.yaml.tmpl
  devops/terraform/prod/main.tf
  devops/terraform/prod/modules/database/main.tf
  devops/terraform/prod/modules/database/outputs.tf
  devops/terraform/prod/modules/database/variables.tf
  devops/terraform/prod/variables.tf
Due: none

slowly pushing towards deploying vault with ssl (and postgres with ssl)
  .gitlab-ci.yml
  README.dev.md
  build/variables.bzl.prod.tmpl
  dependencies/download_google_cloud_sdk.sh
  devops/k8s/secrets/.gitignore
  devops/k8s/secrets/gke-service-account.yaml.tmpl
  devops/k8s/vault/deployment.prod.yaml.tmpl
  devops/k8s/vault/service-external.dev.yaml
  devops/k8s/vault/service-internal.yaml
  devops/terraform/prod/main.tf
  devops/terraform/prod/modules/database/main.tf
  devops/terraform/prod/modules/database/variables.tf
  devops/terraform/prod/variables.tf
  devops/vault/config/prod.hcl.tmpl
Due: none

copy only for subsequent needs
  .gitlab-ci.yml
  devops/docker/vault/BUILD.bazel
Due: Build Vault Container

fix kubernetes json
  .gitlab-ci.yml
  devops/docker/vault/run_vault.sh.tmpl
Due: Build Vault Container

okta variables
  README.dev.md
  build/variables.bzl.prod.tmpl
  build/variables.bzl.tmpl
  src/webserver/config/BUILD.bazel
  src/webserver/config/prod.toml.tmpl
Due: none

security keys
  README.dev.md
  build/variables.bzl.prod.tmpl
  build/variables.bzl.tmpl
  src/webserver/config/dev.toml.tmpl
  src/webserver/config/prod.toml.tmpl
Due: none

sendgrid variables
  README.dev.md
  build/variables.bzl.prod.tmpl
  build/variables.bzl.tmpl
  src/webserver/config/dev.toml.tmpl
  src/webserver/config/prod.toml.tmpl
Due: none

fix invalid targets
  .gitlab-ci.yml
  devops/vault/config/prod.hcl.tmpl
Due: none

set opt flag in CI
  .gitlab-ci.yml
Due: none

flyway
  .gitlab-ci.yml
  devops/database/vault/flyway/prod-flyway.conf.tmpl
  devops/database/webserver/flyway/prod-flyway.conf.tmpl
  devops/database/webserver/sql-dev/V002.1__SamlIdPData.sql
  devops/database/webserver/sql-dev/V004.1__OrganizationData.sql
Due: none

for testing purposes
  .gitignore
Due: none

cloud sql proxy
  devops/docker/ciImage/Dockerfile
Due: Build CI Image

kubectl
  devops/docker/ciImage/Dockerfile
  devops/docker/ciImage/create_ciimage.sh
Due: Build CI Image
