Repository GRCHive/grchive: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build CI Image, Build NGINX Container, Build Vault Container, Build RabbitMQ Container, Terraform, Flyway Vault, Flyway Webserver, Deploy Vault

Build CI Image:
  stage: ciImage
  image: docker:stable
  variables:
    FULL_IMAGE_URL: $CI_FULL_REGISTRY/ci-image
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - cd devops/docker/ciImage
  - ./create_ciimage.sh $FULL_IMAGE_URL:latest
  cache: {}
  when: manual

Build NGINX Container:
  stage: containers
  image: $CI_FULL_REGISTRY/ci-image:latest
  variables:
    FULL_IMAGE_URL: $CI_FULL_REGISTRY/nginx
  script:
  - bazel run //devops/docker/nginx:nginx
  - docker tag bazel/devops/docker/nginx:nginx $FULL_IMAGE_URL:$CI_COMMIT_SHA
  - docker push $FULL_IMAGE_URL:$CI_COMMIT_SHA

Build Vault Container:
  stage: containers
  image: $CI_FULL_REGISTRY/ci-image:latest
  variables:
    FULL_IMAGE_URL: $CI_FULL_REGISTRY/vault
  script:
  - bazel run //devops/docker/vault:vault
  - docker tag bazel/devops/docker/vault:vault $FULL_IMAGE_URL:$CI_COMMIT_SHA
  - docker push $FULL_IMAGE_URL:$CI_COMMIT_SHA

Build RabbitMQ Container:
  stage: containers
  image: $CI_FULL_REGISTRY/ci-image:latest
  variables:
    FULL_IMAGE_URL: $CI_FULL_REGISTRY/rabbitmq
  script:
  - bazel run //devops/docker/rabbitmq:rabbitmq
  - docker tag bazel/devops/docker/rabbitmq:rabbitmq $FULL_IMAGE_URL:$CI_COMMIT_SHA
  - docker push $FULL_IMAGE_URL:$CI_COMMIT_SHA

Terraform:
  stage: provision
  image: $CI_FULL_REGISTRY/ci-image:latest
  script:
  - cd devops/terraform/prod
  - export TF_VAR_postgres_user=${POSTGRES_USER}
  - export TF_VAR_postgres_password=${POSTGRES_PASSWORD}
  - export TF_VAR_postgres_instance_name=${POSTGRES_INSTANCE_NAME}
  - terraform init
  ...

Flyway Vault:
  stage: migrate
  image: $CI_FULL_REGISTRY/ci-image:latest
  script:
  - gcloud auth activate-service-account --key-file devops/gcloud/gcloud-terraform-account.json
  - cloud_sql_proxy -instances=grchive:us-central1:${POSTGRES_INSTANCE_NAME}=tcp:5432 &
  - sleep 1
  - cd devops/database/vault
  ...

Flyway Webserver:
  stage: migrate
  image: $CI_FULL_REGISTRY/ci-image:latest
  script:
  - gcloud auth activate-service-account --key-file devops/gcloud/gcloud-terraform-account.json
  - cloud_sql_proxy -instances=grchive:us-central1:${POSTGRES_INSTANCE_NAME}=tcp:5432 &
  - sleep 1
  - cd devops/database/webserver
  ...

Deploy Vault:
  stage: deploy
  image: $CI_FULL_REGISTRY/ci-image:latest
  script:
  - gcloud container clusters get-credentials webserver-gke-cluster
  - export VAULT_IMAGE=$CI_FULL_REGISTRY/vault:$CI_COMMIT_SHA
  - cd devops/k8s/vault
  - envsubst < deployment.prod.yaml.tmpl > deployment.prod.yaml
  ...

preview_generator should use the packaged python
  src/preview_generator/generator.go
Due: none

need python3 to bootstrap
  devops/docker/preview_generator/Dockerfile
Due: none

use the python3 executable
  src/preview_generator/generator.go
Due: none

switch from alpine back to debian slim, fix python warnings?
  devops/docker/preview_generator/Dockerfile
  src/preview_generator/generator.go
Due: none

remove port from dev domain
  src/webserver/config/dev.toml.tmpl
Due: none

support for generating preview
  src/core/golang/core/url.go
  src/core/golang/database/controlDocumentation.go
  src/core/jsui/ts/api/apiControlDocumentation.ts
  src/core/jsui/ts/url.ts
  src/core/jsui/vue/components/dashboard/FullEditDocumentationComponent.vue
  src/webserver/rest/controlDocumentation.go
  src/webserver/rest/rest.go
Due: none

prod needs a separate bucket
  src/webserver/config/prod.toml.tmpl
Due: none

create prod bucket
  devops/terraform/prod/modules/webserver/main.tf
Due: Terraform

fix syntax error
  devops/terraform/prod/modules/webserver/main.tf
Due: Terraform

uniform bucket
  devops/terraform/prod/modules/webserver/main.tf
Due: Terraform

preview_generator_base should use digest
  WORKSPACE
Due: none

tune nginx. make nginx serve static assets
  devops/docker/nginx/BUILD.bazel
  devops/docker/nginx/nginx.dev.conf
Due: Build NGINX Container

fix path
  devops/docker/nginx/nginx.dev.conf
Due: Build NGINX Container

scripts to deploy locally if need be
  devops/database/vault/flyway/.gitignore
  devops/k8s/preview_generator/.gitignore
  devops/k8s/rabbitmq/.gitignore
  devops/k8s/webserver/.gitignore
  scripts/deply_to_production/build_nginx_container.sh
  scripts/deply_to_production/build_preview_generator_container.sh
  scripts/deply_to_production/build_rabbitmq_container.sh
  scripts/deply_to_production/build_vault_container.sh
  scripts/deply_to_production/build_webserver_container.sh
  scripts/deply_to_production/deploy_k8s.sh
  scripts/deply_to_production/full_deploy.sh
  scripts/deply_to_production/pull_env_variables.sh
  scripts/deply_to_production/pull_env_variables_helper.py
  scripts/deply_to_production/terraform.sh
Due: Flyway Vault

full deploy working
  devops/database/webserver/flyway/.gitignore
  scripts/deply_to_production/deploy_k8s.sh
  scripts/deply_to_production/terraform.sh
Due: Flyway Webserver

reduced size of preview generator base
  WORKSPACE
  devops/docker/preview_generator/Dockerfile
Due: none

marginally reduce ci image size
  devops/docker/ciImage/Dockerfile
Due: Build CI Image

ciimage needs git
  devops/docker/ciImage/Dockerfile
Due: Build CI Image

force a refresh of the API key once a user's role is changed
  src/core/golang/database/apiKey.go
  src/core/golang/database/roles.go
  src/webserver/rest/roles.go
Due: none

Audit -> GRC
  src/core/jsui/vue/components/dashboard/DashboardHomePageNavBar.vue
Due: none

imagemagick to ci image
  devops/docker/ciImage/Dockerfile
Due: Build CI Image

imagemagick in README
  README.dev.md
Due: none

start structure for pulling in db information
  devops/database/webserver/sql/V034.1__ExplicitDbSupport.sql
  devops/database/webserver/sql/V034.2__DbSqlAccess.sql
  devops/database/webserver/sql/V034.3__DbSqlAccessFillIn.sql
  devops/database/webserver/sql/V034__DbData.sql
  src/core/golang/core/databases.go
  src/core/golang/core/roles.go
  src/core/golang/database/BUILD.bazel
  src/core/golang/database/databaseRefresh.go
  src/core/golang/database/roles.go
  src/core/golang/database/sysDatabase.go
  src/core/jsui/vue/components/dashboard/FullEditDatabaseComponent.vue
  src/core/jsui/vue/generic/DatabaseSqlEditor.vue
  src/database_fetcher/BUILD.bazel
  src/database_fetcher/fetcher.go
  src/generic_database_api/golang/BUILD.bazel
  src/generic_database_api/golang/api.go
  src/generic_database_api/golang/interface.go
Due: Flyway Webserver

DbSqlAccess exposed to UI
  src/core/jsui/ts/roles.ts
  src/core/jsui/vue/components/dashboard/CreateNewRoleForm.vue
Due: none

Use WSS:// in production CU #4gdgwf[closed]
  src/core/jsui/BUILD.bazel
  src/core/jsui/ts/url.ts
  src/core/jsui/ts/webpackVariables.d.ts
  src/core/jsui/webpack/dev.config.js
  src/core/jsui/webpack/prod.config.js
Due: none

start postgresql driver
  src/generic_database_api/golang/api.go
  src/generic_database_api/golang/pg/BUILD.bazel
  src/generic_database_api/golang/pg/driver.go
Due: none

increase kubernetes timeout
  .gitlab-ci.yml
  devops/k8s/webserver/backendconfig.prod.yaml
  scripts/deply_to_production/deploy_k8s.sh
Due: none

setup nginx for websocket
  devops/docker/nginx/nginx.dev.conf
Due: Build NGINX Container

websocket working properly with heartbeat ping pong
  devops/docker/nginx/BUILD.bazel
  devops/docker/nginx/common-http-headers.conf
  devops/docker/nginx/nginx.dev.conf
  src/webserver/websocket/processFlowNodeDisplaySettings.go
  src/webserver/websocket/websocket.go
Due: Build NGINX Container

actually use kubernetes timeout
  devops/k8s/webserver/backendconfig.prod.yaml
  devops/k8s/webserver/service.prod.yaml
Due: none

fix broken doc request comments CU #4j7edy[closed]
  src/core/golang/database/docRequests.go
  src/webserver/rest/comments.go
Due: none

disable csrf check on redirect from saml login CU #4j7e8g[closed]
  src/webserver/rest/login.go
Due: none

start separating out production and staging CU #4j9140
  .gitlab-ci.yml
  devops/gitlabci/flyway.yaml
  devops/gitlabci/terraform.yaml
  devops/terraform/modules/database/main.tf
  devops/terraform/modules/database/outputs.tf
  devops/terraform/modules/database/variables.tf
  devops/terraform/modules/vault/main.tf
  devops/terraform/modules/webserver/main.tf
  devops/terraform/modules/webserver/outputs.tf
  devops/terraform/modules/webserver/variables.tf
  devops/terraform/staging/main.tf
  devops/terraform/staging/outputs.tf
  devops/terraform/staging/variables.tf
Due: none

fix yaml lint
  .gitlab-ci.yml
Due: none

dont' block on ci image job
  .gitlab-ci.yml
Due: none

combine rules
  .gitlab-ci.yml
Due: none

more complete separation of staging/production
  .gitlab-ci.yml
  devops/gitlabci/deploy.yaml
  devops/gitlabci/environment.yaml
Due: none

fix yaml lint
  .gitlab-ci.yml
  devops/gitlabci/environment.yaml
Due: none

fix lint
  .gitlab-ci.yml
Due: none

Path conditions:
  Build CI Image: any of: dependencies/bootstrap_bazel.sh, devops/docker/ciImage/**/*
  Build NGINX Container: any of: devops/docker/nginx/**/*
  Build Vault Container: any of: devops/vault/**/*, devops/docker/vault/**/*
  Build RabbitMQ Container: any of: devops/docker/rabbitmq/**/*
  Terraform: any of: devops/terraform/prod/**/*
  Flyway Vault: any of: devops/database/vault/**/*
  Flyway Webserver: any of: devops/database/webserver/**/*
  Deploy Vault: any of: devops/docker/vault/**/*, devops/vault/**/*
